description "<%= application %> upstart script"

start on (local-filesystem and net-device-up)
stop on shutdown

respawn
respawn limit 5 60

script
  export HOME="/home/<%= user %>"
  export NODE_ENV="<%= environment %>"

  cd <%= current_path %>
  exec sudo -u <%= user %> SS_ENV="<%= environment %>" NODE_ENV="<%= environment %>" <%= node_path %>/node <%= node_script %>
end script