/* Globals */

* {
font-family: 'Garamond', 'Cochin', sans-serif;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;        
}

body, html {
height 100%
margin:0;
min-height: 480px;
padding:0;
}

table { text-align: left;}
      
a { cursor: pointer; }
a, a:hover { text-decoration: none; }

.flush {margin: 0;}

tr { vertical-align: top}

.dropdown-menu-flip {
margin-left:-80px;
}

.nowrap {
white-space: nowrap;
}
.unpadded {
padding:0;
}
.thin-margined {
margin-left:8px;
margin-right:5px;
}
.clearall {
clear:both    
}

/* smartphone overrides */

@media (max-width: 480px) {
  .navbar .nav > li > a {
    padding: 10px;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin-left:0;}
}