@media (max-width: 767px) {
  #preload {
  background: url(/images/tablet/tiles.png) no-repeat -9999px -9999px,
              url(/images/smartphone/tiles.png) no-repeat -9999px -9999px;
  }  

  #main {
  background-color: #000;
  padding-left: 5px;
  }
  #hud {
  height:60px;
  }

  #header .title {
  letter-spacing: 0.1em;
  }
  #header #current-tile {
  letter-spacing: 0.1em;
  }  

  #show-profile {display: inline-block;}

  #header .progress {
  height:11px;
  width:45px;
  }    
  #header #wards-magic .flash-message {
  left: -60px;
  }
  #header #experience.progress {
  width:300px;
  }
  #header sup {
  font-size:10px;
  top: -0.1em;
  }  
  #header .progress label {
  margin:-5px 0 0 10px;
  }
  #header .progress label.wide {
  margin-left:100px;
  }  

  #game {
  margin-top:0;
  }
  #game a {
  font-size:80%;
  height:40px;
  width:40px;
  }  
  #gameboard {
  margin:0;
  height:300px;
  width:300px;
  }
  #game a.selected { 
  -o-box-shadow: inset 0 0 8px 2px rgba(255,255,0,0.7);    
  -moz-box-shadow: inset 0 0 8px 2px rgba(255,255,0,0.7);
  -webkit-box-shadow: inset 0 0 8px 2px rgba(255,255,0,0.7);
  box-shadow: inset 0 0 8px 2px rgba(255,255,0,0.7);
  }
  #game a.selected.target { 
  -o-box-shadow: inset 0 0 8px 4px rgba(255,0,0,0.7);
  -moz-box-shadow: inset 0 0 8px 4px rgba(255,0,0,0.7);
  -webkit-box-shadow: inset 0 0 8px 4px rgba(255,0,0,0.7);
  box-shadow: inset 0 0 8px 4px rgba(255,0,0,0.7);
  }
  #game a.selected.muted { 
  -o-box-shadow: inset 0 0 8px 4px rgba(187,187,187,0.7);
  -moz-box-shadow: inset 0 0 8px 4px rgba(187,187,187,0.7);
  -webkit-box-shadow: inset 0 0 8px 4px rgba(187,187,187,0.7);
  box-shadow: inset 0 0 8px 4px rgba(187,187,187,0.7);
  border-color: #999; 
  }

  #game a.combat .progress,
  #game a.plot .progress { 
  height:8px; margin-top:32px; 
  }
  #game a .progress label { color: #000; line-height: 8px; font-size:8px; }
  #game a .badge.stat,
  #game a .badge.stat {
  font-size:8px;
  line-height:8px;
  padding:0 3px 1px;
  }

  #gameboard td { 
  min-height: 40px;
  min-width: 40px;
  }

  #game a .info {
  margin-top:22px;
  }  

  .score {
  background: url(/images/smartphone/icons.png) no-repeat;
  height:40px;
  width:40px;
  }  
  
  .score.health { background-position: 0 0 !important; }
  .score.sanity { background-position: -40px 0 !important; }
  .score.wards { background-position: -80px 0 !important; }
  .score.magic { background-position: -120px 0 !important; }
  .score.seal { background-position: -160px 0 !important; }
  .score.damage { background-position: 0 -40px !important; }
  .score.break { background-position: -40px -40px !important; }
  .score.madness { background-position: -80px -40px !important; }
  .score.wealth { background-position: -120px -40px !important; }

  #powers, #profile {
    font-size:80%;
  }
  #powers ul {
    margin-top:5px;
    width:99%;
  }
  #powers li {
  height:50px;
  }
  #powers a {
    line-height: 11px;
    margin-bottom: 0;
  }
  #powers a .desc {
  line-height: 9px;
  font-size: 10px;
  }

  .power {
  background: url(/images/smartphone/powers.png) no-repeat;
  height: 40px;
  width:40px;
  }
  .power.as_above_so_below { background-position: 0 0 !important; }
  .power.body_warping_of_gorgoroth { background-position: -40px 0 !important; }
  .power.call_the_beast { background-position: -80px 0 !important; }
  .power.chant_of_thoth { background-position: -120px 0 !important; }
  .power.faustian_riches { background-position: -200px 0 !important; }
  .power.flesh_ward { background-position: 0 -40px !important; }
  .power.legerdemain { background-position: -40px -40px !important; }
  .power.ley_line_convergence { background-position: -80px -40px !important; }
  .power.solomons_wisdom { background-position: -120px -40px !important; }
  .power.supernal_binding { background-position: -200px -40px !important; }
  .power.the_great_work { background-position: 0 -80px !important; }

  #supplies .table {
  margin-bottom:3px;
  }
  #supplies .table th, 
  #supplies .table td {
  line-height: 16px;
  padding:3px 8px 0 8px;  
  }
  #profile .table td {
    padding:1px 4px;
  }
  #profile .nav {
  margin-bottom:10px;
  }  

  .modal.fade.in {
    top:20px;
  }

  #drawers-body {
  padding-left:0;
  }

  .drawer,
  #powers ul {
  width:280px;
  }
  .drawer {
  padding: 0 10px;
  }

  #menu {
  margin-left:5px;
  min-width: inherit;
  }

  #menu .navbar-inner,
  #menu .nav,
  #menu .nav > li {
  height:35px;
  min-height:35px;
  }

  .modal-footer {
  padding:5px 15px;
  }

  #tutorial .item table {
  margin-bottom:15px;
  }  

  #game a {
  background: url(/images/smartphone/monsters.png) no-repeat;
  }
  #game a.clue,
  #game a.plot,
  #game a.seal,
  #game a.dynamite,
  #game a.firearm,
  #game a.bandages,
  #game a.morphine,
  #game a.tincture,
  #game a.laudanum,
  #game a.funds,
  #game a.artifact,
  #game a.rite,
  #game a.phylactery,
  #game a.grimoire {
  background: url(/images/smartphone/tiles.png) no-repeat;
  }

  #game a.firearm { background-position: 0 0 !important; }
  #game a.dynamite { background-position: -40px 0 !important; }
  #game a.rite { background-position: -80px 0 !important; }
  #game a.grimoire { background-position: -120px 0 !important; }
  #game a.artifact { background-position: -160px 0 !important; }
  #game a.bandages { background-position: 0 -40px !important; }
  #game a.morphine { background-position: -40px -40px !important; }
  #game a.tincture { background-position: -80px -40px !important; }
  #game a.laudanum { background-position: -120px -40px !important; }
  #game a.phylactery { background-position: -160px -40px !important; }
  #game a.clue { background-position: 0 -80px !important; }
  #game a.plot { background-position: -40px -80px !important; }
  #game a.seal { background-position: -80px -80px !important; }
  #game a.funds { background-position: -120px -80px !important; }

  a.cultist { background-position: 0 0 !important; }
  a.high_priest { background-position: -40px 0 !important; }
  a.byakhee { background-position: -80px 0 !important; }
  a.chosen_one { background-position: -120px 0 !important; }
  a.colour_out_of_space { background-position: -160px 0 !important; }
  a.dark_young { background-position: -200px 0 !important; }
  a.deep_one { background-position: -240px 0 !important; }
  a.dhole { background-position: -280px 0 !important; }
  a.dimensional_shambler { background-position: 0 -40px !important; }
  a.elder_thing { background-position: -40px -40px !important; }
  a.fire_vampire { background-position: -80px -40px !important; }
  a.formless_spawn { background-position: -120px -40px !important; }
  a.ghost { background-position: -160px -40px !important; }
  a.ghoul { background-position: -200px -40px !important; }
  a.gnoph_keh { background-position: -240px -40px !important; }
  a.hound_of_tindalos { background-position: -280px -40px !important; }
  a.liche { background-position: 0 -80px !important; }
  a.lloigor { background-position: -40px -80px !important; }
  a.mi_go { background-position: -80px -80px !important; }
  a.nightgaunt { background-position: -120px -80px !important; }
  a.nosferatu { background-position: -160px -80px !important; }
  a.rat_thing { background-position: -200px -80px !important; }
  a.serpent_people { background-position: -240px -80px !important; }
  a.shantak { background-position: -280px -80px !important; }
  a.shoggoth { background-position: 0 -120px !important; }
  a.star_spawn { background-position: -40px -120px !important; }
  a.tcho_tcho { background-position: -80px -120px !important; }
  a.werewolf { background-position: -120px -120px !important; }
  a.witch { background-position: -160px -120px !important; }
  a.wizard { background-position: -200px -120px !important; }
  a.yithian { background-position: -240px -120px !important; }
  a.zombie { background-position: -280px -120px !important; }
  a.ghast { background-position: 0 -160px !important; }
  a.spider_of_leng { background-position: -40px -160px !important; }

  @-webkit-keyframes dropDownOne { 0% { -webkit-transform: translateY(-40px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownOne { 0% { -moz-transform: translateY(-40px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownOne { 0% {-o-transform: translateY(-40px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownOne { 0% {transform: translateY(-40px); } 100% {transform: translateY(inherit); } }

  @-webkit-keyframes dropDownTwo { 0% { -webkit-transform: translateY(-80px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownTwo { 0% { -moz-transform: translateY(-80px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownTwo { 0% {-o-transform: translateY(-80px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownTwo { 0% {transform: translateY(-80px); } 100% {transform: translateY(inherit); } }

  @-webkit-keyframes dropDownThree { 0% { -webkit-transform: translateY(-120px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownThree { 0% { -moz-transform: translateY(-120px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownThree { 0% {-o-transform: translateY(-120px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownThree { 0% {transform: translateY(-120px); } 100% {transform: translateY(inherit); } }

  @-webkit-keyframes dropDownFour { 0% { -webkit-transform: translateY(-160px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownFour { 0% { -moz-transform: translateY(-160px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownFour { 0% {-o-transform: translateY(-160px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownFour { 0% {transform: translateY(-160px); } 100% {transform: translateY(inherit); } }

  @-webkit-keyframes dropDownFive { 0% { -webkit-transform: translateY(-200px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownFive { 0% { -moz-transform: translateY(-200px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownFive { 0% {-o-transform: translateY(-200px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownFive { 0% {transform: translateY(-200px); } 100% {transform: translateY(inherit); } }

  @-webkit-keyframes dropDownSix { 0% { -webkit-transform: translateY(-240px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownSix { 0% { -moz-transform: translateY(-240px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownSix { 0% {-o-transform: translateY(-240px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownSix { 0% {transform: translateY(-240px); } 100% {transform: translateY(inherit); } }

  @-webkit-keyframes dropDownSeven { 0% { -webkit-transform: translateY(-280px); } 100% { -webkit-transform: translateY(inherit); } }
  @-moz-keyframes dropDownSeven { 0% { -moz-transform: translateY(-280px); } 100% { -moz-transform: translateY(inherit); } }
  @-o-keyframes dropDownSeven { 0% {-o-transform: translateY(-280px); } 100% {-o-transform: translateY(inherit); } }
  @keyframes dropDownSeven { 0% {transform: translateY(-280px); } 100% {transform: translateY(inherit); } }
}