{
  "Server": {
    "port": 3333
  },
  "Database": {
    "Application": {
      "db": "trail_of_secrets",
      "host": "ds041347.mongolab.com", 
      "port": 41347,
      "username": "<%= db_username %>",
      "password": "<%= db_password %>"
    },
    "Logs": {
      "db": "trail_of_secrets_logs",
      "collection": "app",
      "host": "ds041357.mongolab.com", 
      "port": 41357,
      "safe": false,
      "username": "<%= db_username %>",
      "password": "<%= db_password %>"
    }
  },
  "Facebook": {
    "id": "469824099725037",
    "secret": "<%= fb_app_secret %>"
  }
}